*                           text=auto
.git*                       text export-ignore

*.sbt                       text eol=lf
*.scala                     text eol=lf
*.java                      text eol=lf
*.txt                       text

.classpath                 -text whitespace=cr-at-eol merge=union
*.md                        text conflict-marker-size=200
*.xml                      -text whitespace=cr-at-eol

*.sh        text eol=lf
